<?xml version="1.0"?>

<robot name="PalletBase">
  <!-------------------------------------- Base Link -------------------------------------->
  <link name="base_link">
    <inertial>
      <mass value="500.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.2" ixz="0.2" iyy="1.0" iyz="0.2" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="Meshes/PalletBase.STL" scale="0.0254 0.0254 0.0254"/>
      </geometry>
      <material name="StationaryBlue">
        <color rgba="0 0 0.35 .750"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.6604 0.635 0.23368"/>
      <geometry>
        <box size="1.3208 1.27 0.46736"/>
      </geometry>
    </collision>
  </link>

  <link name="PalletTray">
    <inertial>
      <mass value="500.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1.0" ixy="0.2" ixz="0.2" iyy="1.0" iyz="0.2" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="1.57 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="Meshes/PalletTray.STL" scale="0.0254 0.0254 0.0254"/>
      </geometry>
      <material name="PalletTray">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.5842 -0.6096 0.0762"/>
      <geometry>
        <box size="1.1684 1.2192 0.1524"/>
      </geometry>
    </collision>
  </link>

  <joint name="BaseJoint" type="fixed">
    <origin rpy="0 0 0" xyz="0.1016 1.27 0.37795"/>
    <parent link="base_link"/>
    <child link="PalletTray"/>
  </joint>
</robot>
